/* Write your CSS here */
.container {
  background-color: #1e293b;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 65px;
}
.text {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Bree Serif';
  margin-top: 0px;
}
.button {
  color: #1e293b;
  background-color: #ffffff;
  border-radius: 10px;
  height: 40px;
  width: 95px;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Bree Serif';
}
